.v-application {
  font-size: 16px;
  font-family: var(--body-font-family);

  :is(
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      .text-h1,
      .text-h2,
      .text-h3,
      .text-h4,
      .text-h5,
      .text-h6
    ) {
    font-family: var(--heading-font-family);
  }

  .font- {
    &noto-sans {
      font-family: 'Noto Sans', 'Roboto', 'sans-serif' !important;
    }
    &soleto {
      font-family: 'Soleto', 'Roboto', 'sans-serif' !important;
    }
    &exo {
      font-family: 'Exo 2', 'Roboto', 'sans-serif' !important;
    }
  }
}
