:root {
  --font-size: 16px;
  --body-font-family: 'Noto Sans';
  --heading-font-family: 'Soleto';
}

:root .odontoSystem {
  --font-head: 'Exo 2';
}

$container-size: 120rem;
$container-spacing: 5vw;
