:root {
  --font-size: 16px;
  --body-font-family: 'Noto Sans', 'sans-serif';
  --heading-font-family: 'Blinker', 'sans-serif';
  --button-font-family: 'Blinker', 'sans-serif';
}

:root .odontoSystem {
  --font-head: 'Exo 2', 'Roboto', 'sans-serif';
}

$container-size: 120rem;
$container-padding: 5vw;
$container-min-padding: 2rem;
