@import './-transitions.scss';
@import './-fonts.scss';
@import './-variables.scss';
@import './-typography.scss';
@import './-overides.scss';

.v-application {
  &.odp-g-scale {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .v-container:not(.v-container--fluid) {
    max-width: $container-size;
    padding: $container-spacing;
    margin: 0 auto;
  }

  // For accessability
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
  }

  .no-text-pointer {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .invisible-overflow {
    overflow: scroll;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    &::-webkit-scrollbar {
      width: 0px; /* For Chrome, Safari, and Opera */
      height: 0px;
    }
  }
}